.catalog {
  padding: 220px 0 130px;
  text-align: center;
}

.catalog-inner {
  @include inner;
}

.catalog-title {
  margin-bottom: 77px;
  font-size: 64px;
line-height: 87px;
color: $color-dark;
}

.catalog-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  list-style: none;
}

.catalog-filter-item {
  margin-right: 50px;
}

.catalog-link {
  font-weight: 600;
font-size: 22px;
line-height: 24px;
text-decoration: none;
color: rgba(0, 0, 0, 0.8);
&.active {
  color: $color-accent;
}
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 40px -10px 120px -10px;
}

.catalog-item {
  position: relative;
  width: 25%;
  margin-top: 30px;
  padding: 0 10px;

}

.catalog-pic-desc {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  padding: 15px;
  font-size: 24px;
line-height: 33px;
color: $color-light;
background-color: rgba(0, 0, 0, 0.4);

}
