.footer {

  padding: 30px 0;
  background-color: $color-dark;
  color: $color-light;
}

.footer-inner {
  @include inner;


}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {

  font-weight: 600;
font-size: 42px;
line-height: 57px;
color: $color-light;
text-decoration: none;
}
